extends _layout.pug

mixin formsection(id)
    div(id=id + '-container', class=itemClass('form', 'section'), data-form-section=id)&attributes(attributes)
        block

mixin formlabel(target, label, sublabel=null)
    label(class=itemClass('form', 'label'), for=target)= label
        if sublabel
            span(class=itemClass('form', 'label', 'sub-label'))= sublabel

mixin formfieldcontainer(...variants)
    div(class=itemWithVariants('form', 'field-container', ...variants))
        block

mixin formfield(id, icon=null, type='text', ...variants)
    input(id=id, class=itemWithVariants('form', 'field', ...variants))&attributes(attributes)
    if icon
        i.material-icons(class=itemWithVariants('form', 'field__icon', 'left'))= icon
    i(class=itemWithVariants('form', 'field__icon', 'validation'), data-validation-for=id)

mixin formfieldvalidationmessage(id, message)
    div(class=itemClass('form', 'field', 'validation-message'), data-message-for=id)= message

block content
    form#main-form.form(disabled)
        +formsection('url')
            +formlabel('url', 'URL to shorten', 'http or https')
            +formfieldcontainer('with-icon')
                +formfield('url', 'link', 'text', 'fill')(placeholder='https://example.com')
            +formfieldvalidationmessage('url', "URL doesn't look right")

        +formsection('key')(style='display: none')
            +formlabel('key', 'Shortened URL', 'min 5 characters, only alphanumeric characters')
            +formfieldcontainer('with-prefix')
                span https://shrl.cc/
                +formfield('key', null, 'text', 'display')(value = suggestion, minlength=5, maxlength=255)
            +formfieldvalidationmessage('key', "The chosen short-code is already in use")

        +formsection('button')
            button#submit-button(class=itemWithVariants('form', 'button', 'fill'), type='submit')
                span Create shortened link

    div#result

block styles
    link(rel='stylesheet', href='/css/index.css')


block scripts
    script(src='//cdn.jsdelivr.net/npm/regenerator-runtime@0.13.3/runtime.min.js')
    script(src='/js/home.js')
