-
    const pageTitle = subtitle ? __('app.title.subtitle', subtitle) : __('app.title.default');
    const itemClass = (baseClass, ...itemClasses) => [baseClass, ...itemClasses].filter((c) => !!c).join('__');
    const baseWithVariants = (base, ...variants) => {
        return [
            base, 
            ...variants
                .filter((v) => !!v)
                .map((v) => `${base}--${v}`)
        ];
    };
    const itemWithVariants = (base, item, ...variants) => 
        baseWithVariants(itemClass(base, item), ...variants);

    const navClass = 'nav';
    const navItemClass = itemClass(navClass, 'item');

mixin navlink(id, href, icon, title, ...variants)
    - let classes = baseWithVariants(navItemClass, ...variants, id && view === id ? 'active' : null);
    a(href=href, class=classes)&attributes(attributes)
        i.icon= icon
        = title

mixin navigation
    nav(class=navClass)
        +navlink('page:about', '/page/about', 'info', __('navigation.about:About'))
        if locals.user
            +navlink('user', '/user', 'account_circle', user.displayName)
            +navlink(null, '/auth/logout', 'exit_to_app', __('navigation.log-out:Log out'))
        else
            +navlink(null, '/auth/login', 'person_outline', __('navigation.log-in:Log in'), 'icon')

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="apple-touch-icon", sizes="180x180", href="/img/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon-16x16.png")
        link(rel="mask-icon", href="/img/safari-pinned-tab.svg", color="#00838f")
        meta(name="msapplication-TileColor", content="#00838f")
        meta(name='theme-color', content='#00838F')

        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lexend+Deca|Staatliches&display=swap')
        link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/layout.css')

        title= pageTitle
        
        block head
    body
        header= url
            section
                h1
                    a(href='/')
                        img(src='/img/logo-white.svg', alt=title)
                if !hideNavigation
                    +navigation
        main(class=locals.user ? 'two-column' : '')
            section
                block content
            if locals.user
                aside
                    h3 
                        a(href='/user')
                            i.icon account_circle
                            = locals.user.displayName
                    h4= __('aside.title.recent-links:Recent links')
                        include _accordion.pug

        footer
            section
                p Copyright &copy; #[= new Date().getFullYear()] #[a(href='//kalle.surf', target='_blank') Kalle R&auml;is&auml;nen].
                if !hideNavigation
                    +navigation

        script(src='//unpkg.com/unfetch/polyfill')
        script(src='//cdn.jsdelivr.net/npm/regenerator-runtime@0.13.3/runtime.min.js')

        block styles
        block scripts

        if locals.user
            script(src='/js/delete-button.js')
