-
    const pageTitle = subtitle ? __('app.title.subtitle', subtitle) : __('app.title.default');
    const itemClass = (baseClass, ...itemClasses) => [baseClass, ...itemClasses].filter((c) => !!c).join('__');
    const baseWithVariants = (base, ...variants) => {
        return [
            base, 
            ...variants
                .filter((v) => !!v)
                .map((v) => `${base}--${v}`)
        ];
    };
    const itemWithVariants = (base, item, ...variants) => 
        baseWithVariants(itemClass(base, item), ...variants);

    const navClass = 'nav';
    const navItemClass = itemClass(navClass, 'item');

mixin navlink(id, href, icon, title, ...variants)
    - let classes = baseWithVariants(navItemClass, ...variants, id && view === id ? 'active' : null);
    a(href=href, class=classes)&attributes(attributes)
        i(class=`ri-${icon}`)
        span= title

mixin navigation
    nav(class=navClass)
        +navlink('page:about', '/page/about', 'information-fill', __('navigation.about:About'))
        if locals.user
            +navlink('user', '/user', 'account-circle-fill', user.displayName)
            +navlink(null, '/auth/logout', 'logout-box-fill', __('navigation.log-out:Log out'))
        else
            +navlink(null, '/auth/login', 'user-smile-line', __('navigation.log-in:Log in'), 'icon')

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="apple-touch-icon", sizes="180x180", href="/img/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon-16x16.png")
        link(rel="mask-icon", href="/img/safari-pinned-tab.svg", color="#00838f")
        meta(name="msapplication-TileColor", content="#00838f")
        meta(name='theme-color', content='#00838F')

        link(rel='stylesheet', href='/css/critical.css')

        title= pageTitle
        
        block head
    body
        header
            section.navigation
                a.logo(href='/')
                    include partials/logo.svg.pug
                if !hideNavigation
                    +navigation
        main(class=locals.user ? 'two-column' : '')
            section
                block content
            if locals.user
                aside
                    h3 
                        a(href='/user')
                            i.ri-user-smile-fill
                            = locals.user.displayName
                    h4= __('aside.title.recent-links:Recent links')
                        include _accordion.pug

        footer
            section
                p Copyright &copy; #[= new Date().getFullYear()] #[a.fivebyfive(href='//fivebyfive.se', target='_blank') Fivebyfive].
            section.navigation
                a.logo(href='/')
                    include partials/logo.svg.pug
                if !hideNavigation
                    +navigation

        script(src='//unpkg.com/unfetch/polyfill')

        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(href='//fonts.googleapis.com/css2?family=Nova+Mono&family=Work+Sans:ital,wght@0,200;0,400;0,600;0,800;1,400;1,600&display=swap', rel='stylesheet')
        link(href='/css/non-critical.css', rel='stylesheet')

        block styles
        block scripts

        style.
            @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');
            .fivebyfive { font-family: 'Spartan', 'Futura', 'Futura PT', 'Beteckna', sans-serif; font-weight: 900; }

        if locals.user
            script(src='/js/delete-button.js')
