extends _layout.pug

block head
    if success
        meta(http-equiv='refresh', content=delay + ',' + href)

block content
    p.redirect
        if success
            span.preamble= __('redirect.preamble:Redirecting to')
            a.url(href=href) !{displayUrl}.
        else
            span.error #{title}    
    hr
    p.advert
        | !{__('redirect.advert:Brought to you by')} #[a.fivebyfive(href='//fivebyfive.se', target='_blank') Fivebyfive].


