extends _layout.pug

block content
    h2
        img(src=userProfile.picture, alt=__('user.phrase.profile-image'))
        = userProfile.displayName

    hr

    h3= __('user.title.urls:My links')
    if app_data && app_data.urls
        .link-list
            each url, key in app_data.urls
                .link-list__row(data-delete-container-for=key)
                    .link-list__key
                        a(href='/' + key)= key
                    .link-list__url
                        a(href=url)= url
                    .link-list__action
                        a.btn.btn--warning.btn--small(href='#',data-delete-url=key)
                            i.icon warning
                            = __('btn.delete')
    else
        p= __('accordion.phrase.nolinks')

    hr

    div
        p
            a(href='/')= __('btn.back-to-homepage:Back to SHRL.cc')

